//
   Created by shaunkatona on 7/21/14.
extend layout
block styles
    link(rel="stylesheet", href="stylesheets/style.css")
block content
    div#container
        div#names
            h1#fromLeft.disappearAfterAnimation Shaun Katona
            h1#fromRight.disappearAfterAnimation Shaun Katona
            h1#fromTop.disappearAfterAnimation Shaun Katona
            h1#fromBottom Shaun Katona
        ul#icons
            li.invisible one
            li.invisible two
            li.invisible three
            li.invisible four
block scripts
    script(type="text/javascript", src="scripts/main.js")