//
   Created by shaunkatona on 7/21/14.

html
    head
        title Shaun Katona | Web Developer | Boulder, CO
        link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap-theme.min.css")
        block styles
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    body
        block content

        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        //script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        block scripts