//
   Created by shaunkatona on 7/23/14.

extend layout
block styles
    link(rel="stylesheet", href="stylesheets/index.css")
block content
    #container.secondary
        h1 Shaun Katona
        p
            | Web developer in Boulder, CO
        ul#menu
            li.invisible
                a(href="http://www.linkedin.com/pub/shaun-katona/29/913/836", target="_BLANK")
                    | linkedin
            li.invisible
                a(href="https://github.com/shaunkatona", target="_BLANK")
                    | github
            li.invisible
                a(href="/resume")
                    | resume
            li.invisible
                a(href="/projects")
                    | projects
        h2 Projects
        .panel.panel-default
            .panel-body
                h3 ShaunKatona.com
                    ul
                        li NodeJS
                        li Express
                        li Stylus
                        li Jade
                        li Bootstrap
                        li jQuery
                        li Amazon Web Services
                    .screencap | screenshot
block scripts
    script(type="text/javascript", src="scripts/index.js")