body {
  text-align: center;
  height: 100%;
  color: #fff;
  background: -webkit-radial-gradient(#444, #111);
/* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#444, #111);
/* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#444, #111);
/* For Firefox 3.6 to 15 */
  background: radial-gradient(#444, #111);
/* Standard syntax */
  font-family: Impact, Charcoal, sans-serif;
  width: 100%;
}
p {
  font-size: 18px;
  -webkit-animation: colorFade 3s;
  animation: colorFade 3s;
  color: #ffa500;
}
@-webkit-keyframes colorFade {
  from {
    color: #fff;
  }
  to {
    color: #ffa500;
  }
}
#container {
  position: relative;
  width: 100%;
  top: 30%;
}
#icons {
  margin-top: 50px;
  list-style-type: none;
}
li {
  font-size: 20px;
  display: inline-block;
  margin-right: 40px;
  -webkit-animation: slideLeft 0.25s;
  animation: slideLeft 0.25s;
}
li:nth-child(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
li:nth-child(2) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
li:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
li:nth-child(4) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
li:nth-child(5) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
h1 {
  white-space: nowrap;
  font-size: 70px;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes colorFade {
  from {
    color: #fff;
  }
  to {
    color: #ffa500;
  }
}
@-webkit-keyframes colorFade {
  from {
    color: #fff;
  }
  to {
    color: #ffa500;
  }
}
@-o-keyframes colorFade {
  from {
    color: #fff;
  }
  to {
    color: #ffa500;
  }
}
@keyframes colorFade {
  from {
    color: #fff;
  }
  to {
    color: #ffa500;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
